body {
  background-color: #FCF8E1;
}

.splitflap {
  position: relative;
  min-width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  font-size: 100px;
  font-family: Monospace;
  text-align: center;
  color: white;
}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #B87333; /* Wooden color */
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  z-index: 0;
}

div {
  perspective: 500px;
}

.bottom {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
  background-color: #8B4513; /* Wooden color */
  background-image: linear-gradient(rgba(184, 115, 51, 0), #B87333); /* Wooden color */
  transform-origin: center;
}

.nextHalf {
  position: relative;
  height: 50%;
  width: 100%;
  margin-top: -100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  background-color: #8B4513; /* Wooden color */
  background-image: linear-gradient(#B87333, rgba(184, 115, 51, 0)); /* Wooden color */
  transform-origin: bottom;
}

.nextFull {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #B87333; /* Wooden color */
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -3;
}

.flip1 {
  animation: flip1 ease-in 1;
  animation-duration: 1s;
}

.flip2 {
  animation: flip2 ease-out 1;
  animation-duration: 1s;
}

@keyframes flip1 {
  0% {
    transform: rotateX(0deg);
    background-color: #B87333; /* Wooden color */
  }
  50% {
    transform: rotateX(90deg);
    background-color: #8B4513; /* Wooden color */
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip2 {
  0% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
    background-color: #B87333; /* Wooden color */
  }
}

#gan {
  font-size: 96px;
}
